%%%
%%% Netspire sample configuration file
%%%

%%
%% Override local options specific for particular node
%%
override_local.

%%
%% Override global options shared by all nodes in a cluster
%%
override_global.

%% Logging options
{logging, {netspire_filelog_h, [
  {path, "/tmp/netspire.log"},
  {rotation_interval, 600},
  {max_size, 10485760}
]}}.

%% Code path to load modules from
{code_path, []}.

%%
%% Available services with options
%%
{services,
    [
        %% NetFlow gathering service
        {netspire_netflow,
          [
            %% Bind socket to special address.
            %% Specify inet6 instead of inet for IPv6 address family.
            {listen, {inet, "0.0.0.0", 9999}}
          ]},

        %% RADIUS service
        {netspire_radius,
          [
            {listen,
              [
                {auth, {inet, "0.0.0.0", 1812}},
                {acct, {inet, "0.0.0.0", 1813}}
              ]},

            %% Service bindings
            {auth,
              [
                %% List of NAS'es that will be allowed to send
                %% requests to this RADIUS listener
                {client, {pptpd1, "127.0.0.1", "testing123"}},
                {client, {pptpd2, "10.10.0.1", "testing123"}}

                %% Other options defined here will be passed to
                %% backend, so custom implementations can handle
                %% them their own way
              ]},
            {acct,
              [
                {client, {pptpd1, "127.0.0.1", "testing123"}}
              ]}
          ]}
    ]}.

%%
%% List of modules which will be loaded dynamically
%%
{modules,
  [
      %% RADIUS PAP auth type
      {mod_pap, []},

      %% RADIUS CHAP auth type
      {mod_chap, []},

      %% RADIUS MS-CHAP-V2 auth type
      {mod_mschap_v2, []},

      %% Pool of IP addresses
      {mod_ippool,
        [
          %% Set this option to false when running
          %% on extra nodes in a cluster environment
          {allocate, true},

          %% Always set Framed-IP-Address from default pool,
          %% otherwise wait for Pool-Name reply attribute
          {mandatory, true},

          %% Default pool name (only used if mandatory enabled)
          {default, main},

          %% IP expiration time, depends on session timeout
          {timeout, 180},

          {pools,
            [
              %% You can define a range using only fourth octet
              {main, [{"10.10.1.50", "10.10.1.100"}]}
            ]}
        ]}
  ]}.
